# LAB ASSIGNMENT 2
## NAME : UTKARSH YADAV
## ROLL : 23053172

In [1]:
#q1 find max and min from a list

print("Name: Utkarsh Yadav, Roll: 23053172")
numbers = input("Enter Elements: ")
my_list = list(map(int, numbers.split(" ")))
max = -999999
min = 999999
for num in my_list:
  if num > max:
    max = num
  if num < min:
    min = num

print(f"Max: {max}, Min: {min}")

Name: Utkarsh Yadav, Roll: 23053172

Enter Elements:  5 10 2 4 5 6

Max: 10, Min: 2

In [2]:
#q2 count even and odd numbers in a list

print("Name: Utkarsh Yadav, Roll: 23053172")
numbers = input("Enter Elements to list: ")
my_list = list(map(int, numbers.split(" ")))
print(my_list)
even_count = 0
odd_count = 0
for num in my_list:
    if num%2==0:
        even_count += 1
    else:
        odd_count += 1

print(f"Odd Count: {odd_count}, Even Count: {even_count}")

Name: Utkarsh Yadav, Roll: 23053172

Enter Elements to list:  1 2 3 4 5 6 7 8

[1, 2, 3, 4, 5, 6, 7, 8]
Odd Count: 4, Even Count: 4

In [3]:
#q3 remove duplicates from a list

print("Name: Utkarsh Yadav, Roll: 23053172")
my_list = [1,2,3,4,5,5,5,6]
my_list = list(set(my_list))
print(my_list)

Name: Utkarsh Yadav, Roll: 23053172
[1, 2, 3, 4, 5, 6]

In [4]:
#q4 find the second largest element in a list

print("Name: Utkarsh Yadav, Roll: 23053172")
numbers = input("Enter elements to list: ")
my_list = list(map(int, numbers.split(" ")))


max = -999999
second_max = -999999
for num in my_list: 
    if num > max:
        second_max = max
        max = num
    elif num < max and num > second_max:
        second_max = num
    
print(f"Second Largest: {second_max}")

Name: Utkarsh Yadav, Roll: 23053172

Enter elements to list:  3 4 5 6 7 8 9

Second Largest: 8

In [5]:
#q5 sort a list manually

print("Name: Utkarsh Yadav, Roll: 23053172")
my_list = [4, 5, 1, 3, 2]
for i in range(len(my_list)-1):
  for j in range(i+1, len(my_list)):
    if my_list[i] > my_list[j]:
      temp = my_list[i]
      my_list[i] = my_list[j]
      my_list[j] = temp

print(f"Sorted List: {my_list}")

Name: Utkarsh Yadav, Roll: 23053172
Sorted List: [1, 2, 3, 4, 5]

In [6]:
#q6 merge two lists without using + operator

print("Name: Utkarsh Yadav, Roll: 23053172")
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
merged_list = []

for num in list1:
  merged_list.append(num)

for num in list2:
  merged_list.append(num)

print(merged_list)

Name: Utkarsh Yadav, Roll: 23053172
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#q7 convert list to tuple

print("Name: Utkarsh Yadav, Roll: 23053172")
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print(my_tuple)

Name: Utkarsh Yadav, Roll: 23053172
(1, 2, 3, 4, 5)

In [8]:
#q8 find number of elements in a list

print("Name: Utkarsh Yadav, Roll: 23053172")
my_list = [1,2,3,4,5,6]
print(len(my_list))

#alt
count = 0
for num in my_list:
  count += 1

print(count)

Name: Utkarsh Yadav, Roll: 23053172
6
6

In [9]:
#q9 check if list is sorted

print("Name: Utkarsh Yadav, Roll: 23053172")
my_list = [2,3,4,5,2,1]
sort_flag = True
for i in range(len(my_list) - 1):
  if my_list[i] > my_list[i+1]:
    print("Not sorted")
    sort_flag = False
    break

if sort_flag:
  print("Sorted")

Name: Utkarsh Yadav, Roll: 23053172
Not sorted

In [10]:
#q10 create a dictionary from two lists

print("Name: Utkarsh Yadav, Roll: 23053172")
keys = ["x", "y", "z"]
values = [10, 20, 30]

my_dict = {keys[i]: values[i] for i in range(len(keys))}
print(my_dict)

my_dict2 = dict(zip(keys, values))
print(my_dict2)

Name: Utkarsh Yadav, Roll: 23053172
{'x': 10, 'y': 20, 'z': 30}
{'x': 10, 'y': 20, 'z': 30}

In [11]:
#q11 count word frequency using dictionary

print("Name: Utkarsh Yadav, Roll: 23053172")
string = input("Enter a string: ").split(" ")

hashmap = {}

for word in string: 
  hashmap[word] = 1 + hashmap.get(word, 0)

print(hashmap)

Name: Utkarsh Yadav, Roll: 23053172

Enter a string:  my name is name but not name

{'my': 1, 'name': 3, 'is': 1, 'but': 1, 'not': 1}

In [12]:
#q12 remove a key from dictionary

print("Name: Utkarsh Yadav, Roll: 23053172")
my_dict = {"a": 1, "b": 2, "c": 3}

my_dict.pop("b")

print(my_dict)

Name: Utkarsh Yadav, Roll: 23053172
{'a': 1, 'c': 3}

In [13]:
#q13 sort a dictionary by value

print("Name: Utkarsh Yadav, Roll: 23053172")
my_dict = {"a": 5, "b": 2, "c": 8}

sorted_items = sorted(my_dict.items(), key=lambda x: x[1])

print(sorted_items)

Name: Utkarsh Yadav, Roll: 23053172
[('b', 2), ('a', 5), ('c', 8)]

In [14]:
#q14 find intersection of two sets

print("Name: Utkarsh Yadav, Roll: 23053172")
a = {1,2,3}
b = {2,3,6}
print(a&b)

Name: Utkarsh Yadav, Roll: 23053172
{2, 3}

In [15]:
#q15 find union of two sets

print("Name: Utkarsh Yadav, Roll: 23053172")
a = {1,2,3}
b = {2,3,6}
print(a|b)

Name: Utkarsh Yadav, Roll: 23053172
{1, 2, 3, 6}

In [16]:
#q16 check subset and superset

print("Name: Utkarsh Yadav, Roll: 23053172")
a = {1,2}
b = {1,2,3,4,5}

print(a<=b)   #subset

c = {1,2,3,4,5}
d = {1,2}

print(c>=d)  #superset

Name: Utkarsh Yadav, Roll: 23053172
True
True

In [17]:
#q17 find common element in three lists

print("Name: Utkarsh Yadav, Roll: 23053172")
a = {1,2,3,4,5}
b = {2,3,4,5,6}
c = {3,4,5,6,7}
print(a&b&c)

Name: Utkarsh Yadav, Roll: 23053172
{3, 4, 5}

In [18]:
#q18 convert list of tuples to dictionary

print("Name: Utkarsh Yadav, Roll: 23053172")
tuple_list = [("a", 1), ("b", 2), ("c", 3)]

result = dict(tuple_list)

print(result)

Name: Utkarsh Yadav, Roll: 23053172
{'a': 1, 'b': 2, 'c': 3}

In [19]:
#q19 create a list of squares using list comprehension

print("Name: Utkarsh Yadav, Roll: 23053172")
squared = [i*i for i in range(1, 11)]
print(squared)

Name: Utkarsh Yadav, Roll: 23053172
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#q20 filter even numbers using list comprehension

print("Name: Utkarsh Yadav, Roll: 23053172")
nums = [1,2,3,4,5,6]
filtered = [x for x in nums if x%2==0]
print(filtered)

Name: Utkarsh Yadav, Roll: 23053172
[2, 4, 6]